<h1>Restaurants</h1>
<ul>
    <% @restaurants.each do |restaurant| %>
    <li>
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
        Rating: <%= restaurant.rating %>
        <%= link_to "Edit", edit_restaurant_path(restaurant) %>
    </li>
    <% end %>
</ul>